In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
def make_df(cols,ind):
    """一个简单的DataFrame创建函数"""
    data={c:[str(c)+str(i) for i in ind] for c in cols}
    return pd.DataFrame(data,ind)

# Series对象

In [4]:
ss=pd.Series([0.25,0.5,0.75,1.0])
ss

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
ss.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
ss.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ss1=pd.Series([0.25,0.5,0.75,1.0],index=[s for s in 'abcd'])
ss1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
ss1['b']

0.5

In [9]:
dict={
    'a':0.25,
     'b':0.5,
     'c':0.75,
     'd':1.0
     }

ss2=pd.Series(dict)
ss2['a':'d']

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

显式索引包括最后一个
隐式索引不包括最后一个

# DtaeFrame对象

In [10]:
df=pd.DataFrame({'ss1':ss1,
                 'ss2':ss2})
df

    ss1   ss2
a  0.25  0.25
b  0.50  0.50
c  0.75  0.75
d  1.00  1.00

In [11]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
df.columns

Index(['ss1', 'ss2'], dtype='object')

In [13]:
df1=pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])
df1

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [14]:
'a' in df1

True

In [15]:
df1.keys()

Index(['a', 'b', 'c'], dtype='object')

In [16]:
print(list(df1.items()))

[('a', 0    1.0
1    NaN
Name: a, dtype: float64), ('b', 0    2
1    3
Name: b, dtype: int64), ('c', 0    NaN
1    4.0
Name: c, dtype: float64)]

In [17]:
df=pd.DataFrame([s for s in 'abcd'],index=[1,2,3,4])
df

   0
1  a
2  b
3  c
4  d

### 显式

In [18]:
df.loc[1:4]

   0
1  a
2  b
3  c
4  d

### 隐式(不推荐)

In [19]:
df.iloc[1:4]

   0
2  b
3  c
4  d

In [20]:
df.T

   1  2  3  4
0  a  b  c  d

### 自动索引对齐

### 标签法处理缺失值

#### None

In [21]:
vals1=np.array([1,None,2,3])
vals1

array([1, None, 2, 3], dtype=object)

object类型

#### NaN

In [22]:
vals2=np.array([1,np.nan,2,3])
vals2.dtype

dtype('float64')

In [23]:
vals2.sum()

nan

In [24]:
np.nansum(vals2)

6.0

在pd中，两者等价交换

#### 发现

In [25]:
ss=pd.Series([1,np.nan,'hello',None])
df=pd.DataFrame([[1,np.nan,2],
                [2,5,10],
                [np.nan,np.nan,np.nan]])

In [26]:
ss.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [27]:
ss[ss.notnull()]

0        1
2    hello
dtype: object

#### 剔除

In [28]:
ss.dropna()

0        1
2    hello
dtype: object

In [29]:
ss

0        1
1      NaN
2    hello
3     None
dtype: object

In [30]:
df.dropna(axis=0,how='all',thresh=1)
#how='any','all'
#thresh 保留行或列的非缺失值的最小数量

     0    1     2
0  1.0  NaN   2.0
1  2.0  5.0  10.0

#### 填充

In [31]:
ss.fillna(0)

0        1
1        0
2    hello
3        0
dtype: object

In [32]:
ss

0        1
1      NaN
2    hello
3     None
dtype: object

#### 累计

In [3]:
rng=np.random.RandomState(42)
ser=pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [4]:
ser.sum()

2.811925491708157

In [5]:
df=pd.DataFrame({'a':rng.rand(5),
                'b':rng.rand(5)
                })
df

          a         b
0  0.155995  0.020584
1  0.058084  0.969910
2  0.866176  0.832443
3  0.601115  0.212339
4  0.708073  0.181825

In [7]:
df.mean()

a    0.477888
b    0.443420
dtype: float64

In [8]:
df.mean(axis=1)

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64