In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
def make_df(cols,ind):
    """一个简单的DataFrame创建函数"""
    data={c:[str(c)+str(i) for i in ind] for c in cols}
    return pd.DataFrame(data,ind)

### 合并数据集

In [4]:
df1=make_df('ab',[1,2])
df2=make_df('ab',[3,4])
print(df1)
print(df2)
print(pd.concat([df1,df2]))

    a   b
1  a1  b1
2  a2  b2
    a   b
3  a3  b3
4  a4  b4
    a   b
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4

In [5]:
df3=make_df('ab',[1,2])
df4=make_df('cd',[1,2])
print(df3)
print(df4)
print(pd.concat([df3,df4],axis=1))

    a   b
1  a1  b1
2  a2  b2
    c   d
1  c1  d1
2  c2  d2
    a   b   c   d
1  a1  b1  c1  d1
2  a2  b2  c2  d2

索引会重复

In [6]:
x1=make_df('ab',[1,2])
x2=make_df('ab',[1,3])
x2.index=x1.index
print(x1)
print(x2)
print(pd.concat([x1,x2]))

    a   b
1  a1  b1
2  a2  b2
    a   b
1  a1  b1
2  a3  b3
    a   b
1  a1  b1
2  a2  b2
1  a1  b1
2  a3  b3

引发异常

In [7]:
#verify_integrity参数=True

忽略索引

In [8]:
pd.concat([x1,x2],ignore_index=True)
#索引重新排序

    a   b
0  a1  b1
1  a2  b2
2  a1  b1
3  a3  b3

增加多级索引

In [9]:
pd.concat([x1,x2],keys=['x1','x2'])

       a   b
x1 1  a1  b1
   2  a2  b2
x2 1  a1  b1
   2  a3  b3

In [10]:
x1=make_df('abc',[1,2])
x2=make_df('abd',[3,4])
x2.index=x1.index
print(x1)
print(x2)
print(pd.concat([x1,x2],join='outer'))
#并集合并

    a   b   c
1  a1  b1  c1
2  a2  b2  c2
    a   b   d
1  a3  b3  d3
2  a4  b4  d4
    a   b    c    d
1  a1  b1   c1  NaN
2  a2  b2   c2  NaN
1  a3  b3  NaN   d3
2  a4  b4  NaN   d4

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [11]:
print(pd.concat([x1,x2],join='inner'))
#交集合并

    a   b
1  a1  b1
2  a2  b2
1  a3  b3
2  a4  b4

In [12]:
x1.append(x2)
#副本

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

    a   b    c    d
1  a1  b1   c1  NaN
2  a2  b2   c2  NaN
1  a3  b3  NaN   d3
2  a4  b4  NaN   d4

### 更高效合并数据集

### merge()

#### 一对一

In [13]:
df1=pd.DataFrame({'who':['a','b','c','d'],'group':[1,2,2,3]})
df2=pd.DataFrame({'who':['c','a','b','d'],'date':[2004,2008,2012,2014]})
print(df1)
print(df2)

  who  group
0   a      1
1   b      2
2   c      2
3   d      3
  who  date
0   c  2004
1   a  2008
2   b  2012
3   d  2014

In [14]:
pd.merge(df1,df2)

  who  group  date
0   a      1  2008
1   b      2  2012
2   c      2  2004
3   d      3  2014

#### 多对一

In [15]:
df1=pd.DataFrame({'who':['a','b','c','d'],'group':[1,2,2,3]})
df2=pd.DataFrame({'group':[1,2,3],'date':[2004,2008,2012]})
print(df1)
print(df2)

  who  group
0   a      1
1   b      2
2   c      2
3   d      3
   group  date
0      1  2004
1      2  2008
2      3  2012

In [16]:
pd.merge(df1,df2)
#data会根据group的值有所重复

  who  group  date
0   a      1  2004
1   b      2  2008
2   c      2  2008
3   d      3  2012

#### 多对多

In [17]:
df1=pd.DataFrame({'who':['a','b','c','d'],'group':[1,2,2,3]})
df2=pd.DataFrame({'group':[1,1,2,2,3,3],'skill':['math','spreadsheets','coding','linux','spreadsheets','organization']})
print(df1)
print(df2)

  who  group
0   a      1
1   b      2
2   c      2
3   d      3
   group         skill
0      1          math
1      1  spreadsheets
2      2        coding
3      2         linux
4      3  spreadsheets
5      3  organization

In [18]:
pd.merge(df1,df2)

  who  group         skill
0   a      1          math
1   a      1  spreadsheets
2   b      2        coding
3   b      2         linux
4   c      2        coding
5   c      2         linux
6   d      3  spreadsheets
7   d      3  organization